/*
 *  Colors
 */
$white: #FFF;
$black: #000;
$gray: #666;
$green: rgb(106, 147, 78);
a, a:link, a:visited, a:active, a:focus {
    text-decoration: none;
    color: $gray;
    transition: all .2s ease-out;
}
a:hover {
    color: $green;
}
