/*
 *  Colors
 */
$white: #FFF;
$black: #000;
$gray: #666;
$green: rgb(106, 147, 78);
a {
    text-decoration: none;
    color: $gray;
    transition: all .2s ease-out;
    &:link, &:visited, &:active, &:focus {
        color: $gray;
        text-decoration: none;
    }
    &:hover {
        color: $green;
        text-decoration: none;
    }
}
