@mixin clearfix() {
    &:after{
        content: "";
        clear: both;
        display: block;
    }
}

/*******************\
  Navigation Hovers
\*******************/
@mixin nav-link-hover-1() {
    &:before {
        transition: all .3s ease;
        content: "";
        position: absolute;
        top: 60px;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $green;
        z-index: -1;
    }
    &:hover:before {
        top: 0;
    }
}
@mixin nav-link-hover-2() {
    &:before {
        content: "";
        position: absolute;
        top: 52%;
        bottom: 43%;
        right: 100%;
        left: 0;
        background-color: $green;
        z-index: -1;
    }
    &:hover:before {
        animation: laser .3s linear;
    }
    @keyframes laser {
        0% { right: 100%; left: 0; }
        50% { right: 0; left: 0;}
        75% { right: 0; left: 50%; }
        100% { right: 0; left: 100%; }
    }
    @-webkit-keyframes laser {
        0% { right: 100%; left: 0; }
        50% { right: 0; left: 0;}
        75% { right: 0; left: 50%; }
        100% { right: 0; left: 100%; }
    }

}
@mixin nav-link-hover-3() {
    &:before {
        content: "[";
        opacity: 0;
        transform: translateX(10px);
        display: inline-block;
        transition: all .3s ease-in-out;
    }
    &:after {
        content: "]";
        opacity: 0;
        transform: translateX(-10px);
        display: inline-block;
        transition: all .3s ease-in-out;
    }
    &:hover {
        &:before {
            transform: translateX(-5px);
            opacity: 1;
        }
        &:after {
            transform: translateX(5px);
            opacity: 1;
        }
    }



}
