/*
 *  Theme 
 */
section {
    margin: 2em 0;
}
section#home { 
    margin: 0;
}

#section2 {
    background-color: indianred;
    color: #fff;
}
.container-fluid {
    padding: 0;
}
.home-bg {
    background: $gray url('../img/home-banner.jpg') no-repeat fixed 50% / cover;
    position: relative;
    // padding: 22% 40%;
    height: 100vh;
    z-index: 0;
}
.grid {
    background: url('../img/grid.png') repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
    z-index: 1;
}
.home-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 2em 0;
    color: $white;
    z-index: 2;
}
.title {
    display: inline-block;
    position: relative;
    padding: ($y * 4) ($x * 20);
    border: 1px solid $white;
    margin: 0 auto ($y * 10);
    background-color: transparent;
    transition: background-color .3s ease-out;
    &:hover {
        background-color: rgba(0, 0, 0, .7);
    }
}
.home-nav {
    display: flex;
    justify-content: center;
    &:before, &:after {
        content: "#";
        display: block;
        padding-top: 7.5px;
    }
}
.item {
    padding: $y $x*6;
}
