/*
 *  Theme
 */
section:not(#home) {
    padding: 2em 0;
}

#section1 {
    background: #000;
}

#section2 {
    background-color: indianred;
    color: #fff;
}
.container-fluid {
    padding: 0;
}
.home-bg {
    background: $gray url('../img/home-banner-2.jpg') no-repeat fixed 50% / cover;
    background-size: 100% 100%;
    position: relative;
    height: 95vh;
    z-index: 0;
}
.grid {
    background: url('../img/grid-2.png') repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    z-index: 1;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: $white;
    background-color: $black;
    border-bottom: 2px solid $green;
    z-index: 2;
    & > div {
        flex-grow: 1;
        text-align: center;
        & > a {
            display: block;
            position: relative;
            padding: ($y * 2) 0;
            @include nav-link-hover-3;
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .3s ease;
}

.second {
    justify-content: flex-end;
    background-color: #231321;
}
.home-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 2em 0;
    color: $white;
    z-index: 2;
}
.title {
    font-family: 'Knewave', 'Titillium Web';
    position: absolute;
    display: inline-block;
    position: relative;
    padding: ($y * 4) ($x * 20);
    border: 2px solid $white;
    margin: 0 auto ($y * 10);
    background-color: transparent;
    transition: background-color .3s ease-out;
    & h1 {
        margin: 0;
    }
    &:hover {
        background-color: rgba(0, 0, 0, .7);
    }
    cursor: pointer;
}
.home-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    width: 100%;
}
