/*
 *  Theme 
 */
section {
    margin: 2em 0;
}
.container-fluid {
    padding: 0;
}
#home {
    margin-top: 0;
}
.logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    margin: 0 auto;
    padding: 2em 0;
    color: $white;
    border: 1px solid $white;
    background-color: transparent;
    z-index: 2;
    &:hover {
        background-color: rgba(0, 0, 0, .5);
        transition: background-color .3s ease-out;
    }
}
.home-bg {
    background: $gray url('../img/home-banner.jpg') no-repeat fixed 100% / cover;
    position: relative;
    // padding: 22% 40%;
    height: 100vh;
    z-index: 0;
}
.grid {
    background: url('../img/grid.png') repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    z-index: 1;
}
