.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius);
  color: var(--color-dark-gray);
}

.btn-accent {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

.btn-dark-gray {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}
