#hero .section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0;
  overflow: hidden;

  > * {
    z-index: 2;
  }
}

.blob {
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;

  &.one {
    width: var(--blob-one-dimensions);
    height: var(--blob-one-dimensions);
    border-color: var(--color-tert);
    top: 15%;
    right: 20%;
    opacity: 0.5;
    animation: amoebous 15s ease-in-out infinite alternate-reverse,
      spin 120s linear infinite;
  }

  &.two {
    width: var(--blob-two-dimensions);
    height: var(--blob-two-dimensions);
    border-color: var(--color-accent);
    bottom: 20%;
    right: 40%;
    opacity: 0.3;
    animation: amoebous 30s ease-in-out infinite alternate-reverse,
      spin 70s linear infinite reverse;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

#hero .btn-group {
  margin-top: 3rem;
}

#hero h1 {
  border-left: 0.15rem solid var(--color-accent);
  line-height: 1;
  padding-left: 1rem;
}
