.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-main);

  @media (max-width: 767px) {
    padding: 1rem 2rem;
  }
}

.logo {
  --main-color: hsl(var(--hue), 61%, 64%);
  background-color: var(--color-tert);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  position: relative;

  &::before {
    content: "MT";
    display: block;
  }
}

.nav-menu {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem;
  z-index: 1;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-items {
  @media (max-width: 767px) {
    background-color: var(--color-main);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    padding-top: 13rem;
    transition: left 0.25s ease-in-out;
    box-shadow: 7px 0px 15px var(--color-dark-gray);
  }

  &.show {
    left: 100px;
  }

  .nav-item {
    cursor: pointer;
    display: inline;
    list-style: none;
    padding: 0 1rem;

    &.active {
      background-color: var(--color-accent);
      color: var(--color-white);
      @media (min-width: 768px) {
        background-color: transparent;
        color: var(--color-accent);
      }
    }

    @media (max-width: 767px) {
      display: block;
      padding: 1.5rem 2rem;
    }
  }
}

.mobile.nav-items-container {
  transition: transform 0.2s ease-out;
  background-color: var(--color-main);
  position: absolute;
  width: 80%;
  top: 0;
  left: 100%;
  bottom: 0;

  &.show {
    transform: translateX(-100%);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

@keyframes amoebous {
  from {
    border-radius: 70% 30% 30% 70% / 40% 40% 60% 60%;
  }

  to {
    border-radius: 30% 70% 70% 30% / 60% 60% 40% 40%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
