.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
}

.logo {
  --main-color: hsl(var(--hue), 61%, 64%);
  background-color: var(--main-color);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  animation: amoebous 5s ease-in-out infinite alternate,
    spin 30s linear infinite;

  &::before {
    content: "MT";
    display: block;
    animation: spin 30s linear infinite reverse;
  }
}

.nav-items {
  .nav-item {
    cursor: pointer;
    display: inline;
    list-style: none;
    padding: 0 1rem;

    &.active {
      color: var(--color-accent);
    }
  }
}

@keyframes amoebous {
  from {
    border-radius: 70% 30% 30% 70% / 40% 40% 60% 60%;
  }

  to {
    border-radius: 30% 70% 70% 30% / 60% 60% 40% 40%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
