@import "variables.css";
@import "reset.css";
@import "typography.css";
@import "spacing.css";
@import "navigation.css";
@import "hero.css";
@import "buttons.css";

html,
body {
  background-color: var(--color-main);
  color: var(--color-dark-gray);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: var(--font-size);
}

#app {
  margin-top: -81.4px;
}

.container {
  margin: 0 auto;
  @media (min-width: 1024px) {
    width: 900px;
  }
  @media (min-width: 1280px) {
    width: 1120px;
  }
  @media (min-width: 1536px) {
    width: 1200px;
  }
}

.pointer {
  cursor: pointer;
}
