@import "variables.css";

html,
body {
  background-color: var(--colorMain);
  font-size: var(--fontSize);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--colorAccent);
  margin-top: 2rem;
}
