@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

h1 {
  font-size: 4rem;
  font-weight: 600;
}

.body-text {
  font-size: 1.4rem;
}

.text-main {
  color: var(--color-main);
}

.text-accent {
  color: var(--color-accent);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}
