@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.body-text {
  font-size: 1.4rem;
  font-size: clamp(1rem, 1vw + 1rem, 1.4rem);
}

.text-main {
  color: var(--color-main);
}

.text-accent {
  color: var(--color-accent);
}

.text-tert {
  color: var(--color-tert);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
