:root {
  --font-size: 15px;

  --color-main: #f2f3f8;
  --color-accent: #68b29a;
  --color-tert: #bb7e8c;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-gray: #474448;
  --color-light-gray: #e5e6f0;

  --border-radius: 3px;
  --hue: 353;

  --blob-one: #392f5a;
  --blob-two: #058ed9;
  --blob-three: #b6465f;
}
